<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FastLogin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <FastLogin.My.MySettings>
            <setting name="Desert_Eagle_SkinID" serializeAs="String">
                <value>37</value>
            </setting>
            <setting name="Desert_Eagle_SkinName" serializeAs="String">
                <value>Blazing Hot</value>
            </setting>
            <setting name="Dual_Berettas_SkinID" serializeAs="String">
                <value>658</value>
            </setting>
            <setting name="Dual_Berettas_SkinName" serializeAs="String">
                <value>Snake Attack</value>
            </setting>
            <setting name="Five_Seven_SkinID" serializeAs="String">
                <value>660</value>
            </setting>
            <setting name="Five_Seven_SkinName" serializeAs="String">
                <value>Beastmode</value>
            </setting>
            <setting name="Glock_18_SkinID" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="Glock_18_SkinName" serializeAs="String">
                <value>Faded</value>
            </setting>
            <setting name="Tec_9_SkinID" serializeAs="String">
                <value>179</value>
            </setting>
            <setting name="Tec_9_SkinName" serializeAs="String">
                <value>Nuke</value>
            </setting>
            <setting name="P2000_SkinID" serializeAs="String">
                <value>389</value>
            </setting>
            <setting name="P2000_SkinName" serializeAs="String">
                <value>Master of Fire</value>
            </setting>
            <setting name="P250_SkinID" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="P250_SkinName" serializeAs="String">
                <value>Void</value>
            </setting>
            <setting name="USP_S_SkinID" serializeAs="String">
                <value>504</value>
            </setting>
            <setting name="USP_S_SkinName" serializeAs="String">
                <value>Headshot</value>
            </setting>
            <setting name="CZ75_Auto_SkinID" serializeAs="String">
                <value>643</value>
            </setting>
            <setting name="CZ75_Auto_SkinName" serializeAs="String">
                <value>Drawtime over 9000</value>
            </setting>
            <setting name="R8_Revolver_SkinID" serializeAs="String">
                <value>522</value>
            </setting>
            <setting name="R8_Revolver_SkinName" serializeAs="String">
                <value>Faded</value>
            </setting>
            <setting name="XM1014_SkinID" serializeAs="String">
                <value>393</value>
            </setting>
            <setting name="XM1014_SkinName" serializeAs="String">
                <value>Tranquility</value>
            </setting>
            <setting name="MAG_7_SkinID" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="MAG_7_SkinName" serializeAs="String">
                <value>Bulldozer</value>
            </setting>
            <setting name="Sawed_Off_SkinID" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="Sawed_Off_SkinName" serializeAs="String">
                <value>Camo</value>
            </setting>
            <setting name="Nova_SkinID" serializeAs="String">
                <value>537</value>
            </setting>
            <setting name="Nova_SkinName" serializeAs="String">
                <value>Beastmode</value>
            </setting>
            <setting name="MAC_10_SkinID" serializeAs="String">
                <value>433</value>
            </setting>
            <setting name="MAC_10_SkinName" serializeAs="String">
                <value>Nightman</value>
            </setting>
            <setting name="P90_SkinID" serializeAs="String">
                <value>156</value>
            </setting>
            <setting name="P90_SkinName" serializeAs="String">
                <value>Nyan Cat</value>
            </setting>
            <setting name="UMP_45_SkinID" serializeAs="String">
                <value>556</value>
            </setting>
            <setting name="UMP_45_SkinName" serializeAs="String">
                <value>Tiger</value>
            </setting>
            <setting name="MP7_SkinID" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="MP7_SkinName" serializeAs="String">
                <value>Void</value>
            </setting>
            <setting name="MP9_SkinID" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="MP9_SkinName" serializeAs="String">
                <value>Bulldozer</value>
            </setting>
            <setting name="AK_47_SkinID" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="AK_47_SkinName" serializeAs="String">
                <value>Revolution</value>
            </setting>
            <setting name="AUG_SkinID" serializeAs="String">
                <value>455</value>
            </setting>
            <setting name="AUG_SkinName" serializeAs="String">
                <value>Weeaboo Power</value>
            </setting>
            <setting name="FAMAS_SkinID" serializeAs="String">
                <value>604</value>
            </setting>
            <setting name="FAMAS_SkinName" serializeAs="String">
                <value>RoadRage</value>
            </setting>
            <setting name="Galil_AR_SkinID" serializeAs="String">
                <value>661</value>
            </setting>
            <setting name="Galil_AR_SkinName" serializeAs="String">
                <value>Candyshop</value>
            </setting>
            <setting name="M4A4_SkinID" serializeAs="String">
                <value>309</value>
            </setting>
            <setting name="M4A4_SkinName" serializeAs="String">
                <value/>
            </setting>
            <setting name="SG_553_SkinID" serializeAs="String">
                <value>487</value>
            </setting>
            <setting name="SG_553_SkinName" serializeAs="String">
                <value/>
            </setting>
            <setting name="M4A1_S_SkinID" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="M4A1_S_SkinName" serializeAs="String">
                <value/>
            </setting>
            <setting name="AWP_SkinID" serializeAs="String">
                <value>344</value>
            </setting>
            <setting name="AWP_SkinName" serializeAs="String">
                <value/>
            </setting>
            <setting name="G3SG1_SkinID" serializeAs="String">
                <value>493</value>
            </setting>
            <setting name="G3SG1_SkinName" serializeAs="String">
                <value/>
            </setting>
            <setting name="SCAR_20_SkinID" serializeAs="String">
                <value>597</value>
            </setting>
            <setting name="SCAR_20_SkinName" serializeAs="String">
                <value/>
            </setting>
            <setting name="SSG_08_SkinID" serializeAs="String">
                <value>624</value>
            </setting>
            <setting name="SSG_08_SkinName" serializeAs="String">
                <value/>
            </setting>
            <setting name="M249_SkinID" serializeAs="String">
                <value>496</value>
            </setting>
            <setting name="M249_SkinName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Negev_SkinID" serializeAs="String">
                <value>514</value>
            </setting>
            <setting name="Negev_SkinName" serializeAs="String">
                <value/>
            </setting>
            <setting name="PP_Bizon_SkinID" serializeAs="String">
                <value>542</value>
            </setting>
            <setting name="PP_Bizon_SkinName" serializeAs="String">
                <value>Anubis</value>
            </setting>
        </FastLogin.My.MySettings>
    </userSettings>
</configuration>
